md-card {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

md-card-title {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 20px;
}

h2 {
  font-family: sans-serif;
  font-size: 16px;
  color: #707070;
}