md-card {
  padding-top: 10px;
  padding-bottom: 10px;
}

md-card-title {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 20px;
}

.product {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px linear-gradient() rgba(0, 0, 0, 0.2);
}

.product img {
  width: 100%;
}

md-card-actions button {
  margin-left: auto;
  margin-right: auto;
}

.actions {
  margin-top: 10px;
  display: flex;
  margin-bottom: 0px;
}

.action {
  justify-content: center;
  border: 0px;
  padding: 8px 20px;
  font-size: larger;
  margin-left: auto;
  margin-right: auto;
}